@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.bar {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    min-height: 80px;
    border: 2px solid black;
    
}

.navbarItems{
    height: 80px;
}


.navbarLogo {
    color: #eb3b5a;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}


.navMenu { 
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}